<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="me.zoro.peachgardenmall">

    <!-- dangerous  permission list -->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 通过GPS得到精确位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 通过网络得到粗略位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 访问手机当前状态, 需要某些信息用于网络定位 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- normal permission list -->

    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 访问WiFi状态. 需要WiFi信息用于网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 修改WiFi状态. 发起WiFi扫描, 需要WiFi信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 访问网络状态, 检测网络的可用性. 需要网络运营商相关信息用于网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 访问网络的变化, 需要某些信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- webview 独立进程可以降低由于Webview导致的OOM -->
        <activity
            android:name=".activity.AdActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":webview"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <action android:name="android.intent.action.VIEW"/>

                <data
                    android:host="www.taohuayuan.com"
                    android:scheme="http"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.MyShoppingCartActivity">
        </activity>
        <activity android:name=".activity.MyOrderActivity">
        </activity>
        <activity android:name=".activity.MyCollectionActivity">
        </activity>
        <activity android:name=".activity.VipActivity">
        </activity>
        <activity android:name=".activity.SettingsActivity">
        </activity>
        <activity android:name=".activity.CreateAddressActivity">
        </activity>
        <activity android:name=".activity.CreateOrderActivity">
        </activity>
        <activity android:name=".activity.PayActivity">
        </activity>
        <activity android:name=".activity.GoodsDetailActivity">
        </activity>
        <activity android:name=".activity.RegisterActivity">
        </activity>
        <activity android:name=".activity.LoginActivity">
        </activity>
        <activity android:name=".activity.EditUserInfoActivity">
        </activity>
        <activity android:name=".activity.AboutActivity">
        </activity>
        <activity android:name=".activity.AccountSettingActivity">
        </activity>
        <activity android:name=".activity.CommonQuestionActivity">
        </activity>
        <activity android:name=".activity.ImageShowerActivity">
        </activity>
        <activity android:name=".activity.CommentActivity">
        </activity>
        <activity android:name=".activity.CouponActivity">
        </activity>
        <activity android:name=".activity.GoodsListActivity">
        </activity>
        <activity android:name=".activity.EditPasswordActivity">
        </activity>
        <activity android:name=".activity.EditPhoneActivity">
        </activity>
        <activity android:name=".activity.EditIdCardActivity">
        </activity>
    </application>

</manifest>